<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Ocurrio un error Empleos App</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal">
    
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Ocurrio un error en la aplicación</strong> </h4>              
          <div class="card-body">            
			<img th:src="@{/images/error-404.png}" class="rounded " title="Ha ocurrido un error">
			
			<div class="col-md-12 order-md-2 mb-4">      
              <ul class="list-group mb-3">                                               
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <small class="text-muted">ERROR HTTP 404 - EL RECURSO SOLICITADO NO EXISTE.</small>
                  </div>
                </li>                                                                                                              
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <small class="text-muted" th:text="'RECURSO: ' + ${path}"></small>
                  </div>
                </li>      
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <small class="text-muted" th:text="'FECHA: ' + ${#dates.format(timestamp, 'dd-MM-yyyy HH:mm')}"></small>
                  </div>
                </li>                                                                                                                 
              </ul>
              <a class="btn btn-primary" role="button" th:href="@{/}">Ir a Inicio</a>
            </div>			
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer">
    
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>